<section id="contact" class="contact-section section" data-observe>
    <div class="container">
        <h2 class="text-center section-title">Contact Me</h2>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="glass-card p-4 h-100">
                    <h3 class="mb-4">Get In Touch</h3>
                    <p>Have a project in mind or want to discuss potential opportunities? Feel free to reach out!</p>
                    <div class="contact-info mt-4">
                        <p><i class="fas fa-map-marker-alt me-3 "></i>Iran, Tehran, Direct12, Iran Street</p>
                        <p><i class="fas fa-envelope me-3 "></i> Alimartin8203@gmail.com</p>
                        <p><i class="fas fa-phone me-3 "></i> +989216026354</p>
                    </div>
                    <div class="social-icons mt-4">
                        <a href="https://github.com/ImHoopoe"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ali-martin-imhoopoe"><i class="fab fa-linkedin"></i></a>
                        <a href="https://x.com/imHoopoe"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/alimartintheprogrammer/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="contact-form glass-card p-4">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Your Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>