<section class="counter-section section" data-observe>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-6 mb-5 mb-md-0">
                <div class="counter-item">
                    <div class="counter-number" data-count="23">0</div>
                    <div class="counter-text">Projects Completed</div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-5 mb-md-0">
                <div class="counter-item">
                    <div class="counter-number" data-count="6700">6236</div>
                    <div class="counter-text">Happy Students</div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter-item">
                    <div class="counter-number" data-count="6">0</div>
                    <div class="counter-text">Years Experience</div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter-item">
                    <div class="counter-number" data-count="15">0</div>
                    <div class="counter-text">Awards Won</div>
                </div>
            </div>
        </div>
    </div>
</section>