<section id="home" class="hero-section d-flex align-items-center" data-observe>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 hero-content">
                <h1 class="hero-title animate__animated animate__fadeInDown">Hi, I'm <span class="text-warning">Ali Martin</span></h1>
                <p class="hero-subtitle animate__animated animate__fadeInDown animate__delay-1s" style="height: 30px;">
                    <span id="typed-text"></span>
                </p>
                <div class="animate__animated animate__fadeInUp animate__delay-2s">
                    <a href="#contact" class="btn btn-custom me-3">Hire Me</a>
                    <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#portfolioModal">View Portfolio</button>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block animate__animated animate__fadeInRight animate__delay-1s">
                <img src="/img/AliMartin.png" alt="AliMartin-Profile" class="img-fluid glass-card" style="width: 80%;">
            </div>
        </div>
    </div>
</section>